<div>
  <%= notice %>
</div>

<h1>Welcome</h1>

<% sorted = @posts.sort_by { |k| k["created_at"] } %>

<%= render 'posts/posts_with_comments' %>

  <%= link_to new_post_path do %>
    New post
  <% end %>
 
  <%= link_to "Sign Out", session_path("current"), method: "delete" %>
